@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Poppins;
  background: rgb(58, 68, 58);
  font-size: calc(var(--_size) * 0.022);

  --_factor: min(1000px, 100vh);
  --_size: min(var(--_factor), 100vw);

  height: 100%;
  overflow-x: hidden;
}

.banner-container * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

svg.filters {
  display: none;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #c8c2bd;
  font-size: 3em;
  font-weight: 600;
}

.glow-filter {
  position: relative;
  display: inline-block;
  scale: 1;
  animation: onloadscale 1s ease-out forwards;
}

.glow-filter::before {
  content: attr(data-text);
  position: absolute;
  pointer-events: none;
  color: #fffaf6;
  background: linear-gradient(0deg, #dfe5ee 0%, #fffaf6 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: url(#glow-4);
  opacity: 0;
  animation: onloadopacity 1s ease-out forwards;
}

@keyframes onloadscale {
  24% {
    scale: 1;
  }

  100% {
    scale: 1.02;
  }
}

@keyframes onloadopacity {
  24% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.banner-desc {
  position: absolute;
  text-align: center;
  color: #86868b;
  font-weight: 600;
  background: linear-gradient(0deg, #86868b 0%, #bdc2c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 20%;
  max-width: none;
  height: fit-content;
}

.banner-desc span {
  position: relative;
  display: inline-block;
  -webkit-text-fill-color: #e7dfd6;
  font-weight: 300;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: rgb(58, 68, 58);
}

.bg>div {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 4em 3em rgba(238, 200, 175, 0.2), inset 0 0 2em 0.4em rgba(238, 200, 175, 0.2),
    0 0 0.1em 0.1em rgba(238, 200, 175, 0.2), 0 0 1em 0.4em rgba(238, 200, 175, 0.3);
  opacity: 0.6;
  transform: scale(1.2);
  animation: onloadbgt 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.bg>div:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: onloadbgt 2.5s ease-out forwards;
  will-change: transform, opacity;
}

.bg>div:nth-child(2) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: onloadbgb 2.5s ease-out forwards;
  will-change: transform, opacity;
}

@media (max-width: 768px) {
  .bg>div {
    width: 50%;
    height: 80%;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .bg>div {
    width: 100%;
    height: 70%;
    transform: scale(1);
  }
}

@keyframes onloadbgt {
  0% {
    transform: translate(-50%, -150%); 
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, 0); 
    opacity: 0.8;
  }
}

@keyframes onloadbgb {
  0% {
    transform: translate(-50%, 150%);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, 0); 
    opacity: 0.8;
  }
}

/* SOBRE NÓS */
.container {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: white;
  color: black;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-nos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  width: 100%; 
  max-width: 1200px; 
}

.sobre-nos-left {
  margin-top: 22%;
}

.sobre-nos-left, .sobre-nos-right {
  width: 50%; 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sobre-nos-left h1, .sobre-nos-right h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600; 
  padding-bottom: 0.5rem; 
  display: inline-block; 
  position: relative; 
}

.sobre-nos-left h1::after, .sobre-nos-right h1::after {
  content: "";
  display: block;
  width: 60px; 
  height: 3px;
  background-color: #fad505; 
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%); 
}

.sobre-nos-left p, .sobre-nos-right p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #1b1919; 
  text-align: justify;
  margin-bottom: 1rem;
  transition: all 0.3s ease; 
}

.sobre-nos-left p:hover, .sobre-nos-right p:hover {
  color: #73836f; 
  transform: translateY(-5px); 
  cursor: pointer; 
}

.sobre-nos-left p {
  text-align: center;
}

.titulo-servico {
  color: #304741; 
  font-weight: bold; 
  margin-right: 0.3rem;
}

@media (max-width: 768px) {
  .sobre-nos {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .sobre-nos-left, .sobre-nos-right {
    width: 80%; 
  }

  .sobre-nos-left h1, .sobre-nos-right h1 {
    font-size: 2rem; 
  }
}

/* PLANOS */
.container-planos {
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.pricing-info {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.pricing-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  background: #ffc4b3;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button.active {
  background: #ff7961;
}

.toggle-button .discount {
  background: #ff7961;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.pricing-title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

.pricing-description {
  font-size: 1rem;
  line-height: 1.5;
  color: black;
}

.pricing-cards {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.card {
  background: #f7f5f4;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  width: 280px; 
  height: 500px;
}

.card:hover {
  transform: translateY(-10px); 
}

.card.agency {
  margin-top: -20px; 
  /*background: linear-gradient(95deg, #23494a, #bfffc7);*/
  background: linear-gradient(135deg, #20554b, #708f96, #daf1de);
  color: #fff;
  height: 540px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-features, .card-features-plus {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: left; 
}

.card-features li {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-features-plus li {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}


.card-price, .card-price-plus {
  font-size: 35px;
  font-weight: bold;
  padding: 38px 0;
  margin-bottom: -25px;
}

.card-price span {
  font-size: 16px;
  color: #666;
}

.card-price-plus span{
  font-size: 16px;
  color: #666;
}

.purchase-button {
  background: linear-gradient(135deg, #20554b, #708f96, #daf1de);
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 14px;
  margin-top: -20px;
  font-weight: bold;
}

.purchase-button:hover {
  background: #f1e8e4;
  color: #666;
}

.purchase-button-plus {
  background: #f1e8e4;
  color: #666;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 14px;
  margin-top: -20px;
  font-weight: bold;
}

.purchase-button-plus:hover {
  background: linear-gradient(135deg, #20554b, #708f96, #daf1de);
  color: white;
}

/* PARCEIROS */

.container-parceiro {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: white;
  color: black;
  min-height: 100vh;
  height: auto;
}

.container-parceiro h2 {
  text-align: center;
  font-size: 36px; 
  font-weight: 300; 
  letter-spacing: 1px; 
  text-transform: uppercase; 
}

.container-parceiro p {
  font-size: 1.1rem;
  line-height: 1.6; 
  max-width: 800px;
  margin: 0 auto 30px auto; 
  padding: 0 15px; 
  text-align: center;
}

.slider {
  margin-top: 40px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Slide */
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}