* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2a3a39de;
  backdrop-filter: blur(10px); /* Adiciona um leve desfoque ao fundo (opcional) */
  color: white;
  z-index: 1000;
  padding: 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5px;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #f1eeeb;
}

/* NAVBAR RESPONSIVA */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  background: white;
  height: 2px;
  margin: 4px;
  width: 25px;
  transition: 0.3s;
}

.navbar-toggle .close-icon {
  background: none;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    background-color: #202c27;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .navbar-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
    z-index: 1002;
  }

  .navbar-toggle span {
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .overlay.active {
    display: block;
  }
}

/* RODAPÉ */

.footer {
  position: relative; /* Garante que o rodapé fique no fluxo natural da página */
  width: 100%;
  /*background-color: rgb(38, 44, 44); */
  background-color: #202c27;
  color: white;
  padding: 20px 15px; 
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto; /* Faz com que o rodapé só seja exibido após o conteúdo */
  z-index: 0; /* Mantém o rodapé abaixo do menu lateral */
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.footer-logo h3 {
  font-size: 1.5rem; 
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px; 
}

.footer-links a {
  text-decoration: none;
  color: #ffffffcc;
  font-size: 0.9rem; 
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #9cb9b4;
}

.footer-bottom {
  margin-top: 10px; 
  font-size: 0.8rem; 
  color: #b2bec3;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    gap: 8px; 
  }

  .footer-links ul {
    flex-direction: column;
    gap: 5px;
  }

  .footer-links a {
    font-size: 0.8rem;
  }

}

/* PÁGINA DOS INTEGRANTES */

/* Centraliza o título na tela */
.title__int {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
}

/* Estiliza o título com um gradiente e centraliza */
.title__int h2 {
  color: black;
  max-width: 551px;
  font-size: 25px;
}

/* Estiliza o link dentro do título */
.title__int a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}

/* Estiliza o ícone dentro do título */
.title__int i {
  font-size: 1.2rem;
  color: black;
  margin: 10px;
}

/* Centraliza o container de perfis horizontalmente */
.container-profile {
  max-width: 538px;
  padding-bottom: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adiciona esta linha para centralizar os itens em coluna */
}

/* Estiliza a lista de perfis */
.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estiliza cada perfil dentro da lista de perfis */
.profile-column {
  display: flex;
  gap: 20px;
  align-items: center; /* Alinha itens no centro verticalmente */
}

/* Estiliza as imagens de perfil */
.profile-image {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* Estiliza os detalhes do perfil */
.details {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
}

/* Adiciona padding aos detalhes e ao RM */
.details,
.rm {
  padding: 15px 0;
}

/* Estiliza links de perfil */
.details,
.github-link {
  text-decoration: none;
  color: black;
}
